{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="shadow-wrap">
    <div class="form-wrap">
        <h2 style="text-align: center;">Reset Kata Sandi</h2>

        {% if user.is_authenticated %}
            <p class="text-center"><strong>Catatan:</strong> Anda sudah masuk sebagai {{ user.email }}.</p>
        {% endif %}

        <p style="text-align: center; color: #545D7A; margin: 20px 0;">
            Lupa kata sandi Anda? Masukkan alamat e-mail Anda di bawah, dan kami akan mengirimkan link untuk mereset kata sandi Anda.
        </p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}

            <div class="form-field-container">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
                {% for error in form.email.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>

            <button class="reset-pass" type="submit" style="width: 100%; margin-top: 20px;">Kirim Link Reset</button>
        </form>
        
        {% if not user.is_authenticated %}
        <p style="text-align: center; margin-top: 20px;">
            <a href="{% url 'account_login' %}" style="text-decoration: none; color: #10182F;">Kembali ke halaman Login</a>
        </p>
        {% else %}
        <p style="text-align: center; margin-top: 20px;">
            <a href="{% url 'home' %}" style="text-decoration: none; color: #10182F;">Kembali ke Pengaturan</a>
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}