{% extends "base.html" %}
{% block title %}Setel Ulang Kata Sandi{% endblock %}
{% block content %}
<div class="shadow-wrap">
    <div class="form-wrap"> 
        <h1>Setel Ulang Password Anda</h1>
        {% if validlink %}
        <p>Mohon masukkan password baru anda dua kali:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password" /></p>
        </form>
        {% else %}
        <p>Tautan pengaturan ulang kata sandi tidak valid, mungkin karena tautan sudah digunakan. Silakan meminta pengaturan ulang kata sandi baru.</p>
        {% endif %} 
    </div>
</div>

{% endblock %}
