{% extends "base.html" %}
{% block title %}Mengirim Pesan Setel Ulang Password{% endblock %}
{% block content %}
<div class="shadow-wrap">
    <div class="form-wrap">  
        <h1>Mengirim Pesan!</h1>
        <p>Kami akan mengirim pesan melalui Google Email anda untuk setel ulang kata sandi.</p>
        <p>Jika anda belum menerima Email dari kami, mohon sebelumnya untuk mengisi nama Email anda dengan benar.</p>
        <p>Atau periksa juga folder spam pada email anda.</p>
    </div>
</div>

{% endblock %}

